{% extends "bases.html" %}
{% block title %} Students -Collage portal {% endblock %}
{% block content %}
    <h1> All Students </h1>
    <p>Total students: {{ stud|length }}</p>
    
    <table border="1">
        <tr>
            <th>Name</th>
            <th>roll_no</th>
            <th>Marks</th>
            <th>Grade</th>

        </tr>
        {% for student in stud %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.roll_no }}</td>
            <td>{{ student.marks }}</td>
            <td>
                {% if student.marks >= 90 %}
                    Excellent
                {% elif student.marks >= 75 %}
                    Good
                {% elif student.marks >= 60 %}
                    Average
                {% else %}
                    Needs Improvement
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}