{% extends "base.html" %}
{% block title %} About our canteen {% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-item-center" style="height: 380px;">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="card-text fw-bold mt-1">This project is simple flask demo application</h1>
                <hr>
                <p>Welcome to canteen, Sorry for any single mistake made our staff !</p>
                <p>We're very thackfull you visited our canteen </p>
                <p>Tihs is our Mobile number : 123456789</p>
                <p>For any enquiry you must visit our email</p>
                <p>Email id : canteen@gmail.com</p>
                <P><a href="{{url_for('home')}}" class="btn btn-primary">Back to home </a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}