<!DOCTYPE html>
<html>
<head>
    <title>{%block title %} Colage Canteen {% endblock %}</title> <align="left">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> #navbar  -expand-lg tis is respsive break point navbar-dark bg-dark is for dark theme
        <div class="container"> #this means navbar content will be centered in the page
            <a class="navbar-brand" href="{{url_for('home')}}">College Canteen</a>
            <div class="navbar-nav ms-auto" >#  we save our links in navbar-nav and ms-auto is for right align
                <a class="nav-link" href="{{url_for('home')}}">Home</a>
                <a class="nav-link" href="{{url_for('about')}}">About</a>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        
    </div>
</body>
    <hr>
     {%block content %}{% endblock %}
    </hr>
</body>
</html>